body {
  background-color: #5eeb34; /* This is a light blue color */
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #5eeb34; /* This is a nice sea green */
}

p {
  font-size: 20px;
  color: #333;

}
img {
  border: 5px solid white;
  border-radius: 15px; /* This rounds the corners! */
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2); /* This adds a shadow */
  width: 300px;
}


.contact-section {
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: 40px auto; /* Isse form center mein aa jayega */
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit;
}
.social-icons i {
    font-size: 30px;
    margin: 10px;
    color: #2c3e50;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #3498db;
    transform: scale(1.2); /* Icon thoda bada ho jayega hover par */
}

textarea {
    height: 80px;
}
.social-icons i {
    font-size: 30px;
    margin: 10px;
    color: #2c3e50;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #3498db;
    transform: scale(1.2); /* Icon thoda bada ho jayega hover par */
}

